<h1 mat-dialog-title>ADD Privilege</h1>
<div mat-dialog-content>
  <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" *ngIf="false"
  [formControl]="email" (change)="change()">
  <mat-radio-button value="vikash" [checked]='true'></mat-radio-button>
  <mat-radio-button value="vivke"></mat-radio-button>

  <mat-radio-button value="krishna"></mat-radio-button>

</mat-radio-group> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
